@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.heading {
  padding: 10px 12px;
  background: url('../images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.hidden {
  display: none;
}


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
    width: 500px;
    height: 63px;
    margin: -10px auto 0;
    background: url('../images/logo02.png') no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.global-nav {
  margin-top: 15px;
  text-align: center;
}
.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #ee309a;
  color: #fff;
}



/* --------------------------------
 * wrapper
 * -------------------------------- */
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}


/* --------------------------------
 * main
 * -------------------------------- */
.main {
  display: block;
  float: left;
  width: 660px;
}
.main-img{
  padding-bottom:50px;
}

.main-img img{
  width:600px;
}

.scroll-list {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}
.scroll-list .scroll-item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0;
  transition: background-color 0.1s;
}
.scroll-list .scroll-item:nth-of-type(even) a {
  background: url('../images/bg-slash.gif');
}
.scroll-list .scroll-item a:hover {
  background-color: #fafaf8;
}
.scroll-list .date {
  display: inline-block;
  width: 19%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.0rem;
}
.scroll-list .category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.0rem;
  line-height: 16px;
}
.scroll-list .category.news {
  background-color: #2c3c53;
}
.scroll-list .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}
.article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}
.article-box:hover {
  opacity: 0.8;
}
.article-box:nth-of-type(odd) {
  float: left;
}
.article-box:nth-of-type(even) {
  float: right;
}
.article-box .title {
  margin-top: 30px;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
}
.article-box .desc {
    color: #333;
    overflow: hidden;
    width: 225px;
    font-size: 13px;
    text-align: center;
    margin: 20px auto;
}
.article-box .date {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: block;
  width: 160px;
  padding: 4px;
  background-color: #b5d264;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}
.article-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


/* --------------------------------
 * sidemenu
 * -------------------------------- */
.sidemenu {
  float: right;
  width: 275px;
}
.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}
.ranking .ranking-item {
  margin-top: 15px;
}
.ranking .ranking-item a {
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}
.ranking .ranking-item a:hover {
  opacity: 0.8;
}
.ranking .image {
  width: 55px;
  height: 55px;
}
.ranking .order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border: 1px solid #ccc;
  color: #aaa;
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ranking .order::before {
  content: counter(ranking);
  display: inline-block;
  counter-increment: ranking;
  font-size: 1.0rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}
.ranking .ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}
.ranking .text {
  display: inline-block;
  width: 182px;
  color: #000;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 4.5;
}
.documents {
  margin: 10px 10px 30px;
}
.documents,
.documents ul {
  list-style-type: none;
}
.documents > li .title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid #d03c56;
  font-size: 1.4rem;
  line-height: 1.2;
}
.documents > li + li {
  margin-top: 25px;
}
.documents > li ul {
  margin: 15px;
}
.documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url('../images/arrow.gif') no-repeat left center;
}
.documents a:hover {
  text-decoration: underline;
}
.search-box {
  padding: 15px;
  background-color: #ccc;
  font-size: 0;
}
.search-box > * {
  font-size: 1.2rem;
}
.search-box .search-input {
  width: 205px;
  height: 26px;
  padding: 0 10px;
  border: none;
}
.search-box .search-button {
  width: 40px;
  height: 26px;
  border: none;
  background-color: #d03c56;
  color: #fff;
  cursor: pointer;
}
.search-box .text {
  margin-top: 12px;
}
.sub-btn{
    margin-top: 40px;
    text-align: center;
    background-color: #d03c56;
    width: 280px;
    height: 85px;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
    padding-top: 15px;
    line-height: 1.4;
}


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  width: 100%;
  padding: 20px 0 30px;
  background: #2d3d54 url('../images/bg-footer.gif');
  color: #fff;
}
.horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
}
.horizontal-list .horizontal-item {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item {
  border-left: 1px solid #bbb;
}
.horizontal-list .horizontal-item a {
  border-bottom: 1px dashed #777;
  color: #bbb;
  font-size: 1.1rem;
  transition: color 0.15s;
}
.horizontal-list .horizontal-item a:hover {
  color: #ddd;
}
.copyright {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
}
/* --------------------------------
 * 予約フォーム
 * -------------------------------- */
.main-contact h2{
    background: url(../images/contact.png)no-repeat;
    text-indent: -100%;
    overflow: hidden;
    background-size: 162px;
    height: 75px;
    width: 190px;
    margin: 0 auto;
    margin-bottom:10px;
}
/* --------------------------------
 * 予約確認フォーム,完了画面
 * -------------------------------- */
 .main-login_c h2{
    background: url(../images/conf.png)no-repeat;
    text-indent: -100%;
    overflow: hidden;
    background-size: 162px;
    height: 75px;
    width: 190px;
    margin: 0 auto;
    margin-bottom:10px;
 }
 .main-conf h2{
    background: url(../images/conf.png)no-repeat;
    text-indent: -100%;
    overflow: hidden;
    background-size: 162px;
    height: 75px;
    width: 190px;
    margin: 0 auto;
    margin-bottom:10px;
 }

.main-after h2{
    background: url(../images/conp.png)no-repeat;
    text-indent: -100%;
    overflow: hidden;
    background-size: 360px;
    height: 75px;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.main-after p{
    text-align: center;
    font-size: 21px;
    line-height: 2.5;
}
.main-after img{
    width: 415px;
    margin-left: 125px;
    margin-bottom: 30px;
  }

/* --------------------------------
 * 会員登録（sign_up）
 * -------------------------------- */

.main-login,.main-contact,.main-conf,.main-after,.main-login_c{
    width: 660px;
    float: left;
}

.main-login h2{
    background: url(../images/sgin-up.png)no-repeat;
    text-indent: -100%;
    overflow: hidden;
    background-size: 162px;
    height: 75px;
    width: 190px;
    margin: 0 auto;
    margin-bottom:10px;
}
.contact table{
      margin: 0 auto;
}
.contact tr {
  font-size: 14px;
}

.contact tr th{
    padding-bottom: 100px;
    padding-right: 23px;
    text-align: left;
    font-family: fantasy;
}

.contact input{
  height: 30px;
  border: 1px solid #6e6e6e;
}

.contact .button-login{
      text-align: center;
}

 /* --------------------------------
 * ログイン(sign_in)
 * -------------------------------- */
.login button{

}
 .login{
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
    background: #d03c56;
    width: 280px;
    height: 180px;
    border-radius: 5px;
    padding: 15px;
 }
 .login h2{
    font-size: 20px;
    padding: 10px 0;
 }
.login th{
     padding-bottom: 13px;
    padding-top: 10px;
    text-align: left;
}
.login input{
   margin-left: 5px;
}
.login .login_btn{
    width: 90px;
    font-size: 40px;
    margin-left: 74px;
    margin-top: 12px;
}

.login tr .login_btn{
    font-size: 14px;
    margin-top: 0px;
    font-weight: bold;
    color: #fff;
    background-color: #d03c56;
}
